<!-- qr_scanner.html -->

{% extends "myapp/base.html" %}
{% load static %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .table-container {
        max-height: 490px;
        overflow-y: auto;
        max-width: 40rem;
    }
    
    .toastSize {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 1.1rem 1.1rem;
        border:5px solid white;
        position:relative;
        top:3rem;
      }
    
      .toast-success {
        color: white;
        font-weight:bold;
        font-size:1.1rem;
        border:5px solid white;
      }
    
      .toast-error {
        background-color: red;
        color: white;
        font-weight:bold;
        font-size:1.1rem;
        border:5px solid white;
      }
      .toast-top-right {
        top: 4rem;
        right:1rem;
        float:right;
      }
    
    #error-message {
        position: absolute;
        top: .5rem;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: #5EA061;
        color: white;
        font-size: 1.1rem;
        text-align: left; 
        padding: 12rem 7rem; 
        box-sizing: border-box;
        font-weight:bold;
    }
</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container-fluid" style="padding:2rem 1rem;background-color:#5EA061;border-radius:.5rem;text-align:center;">
    
    <div class="HeaderContext">
        
   
        <span style="position:absolute;right:1rem;top:.5rem;color:white;" class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#logoutaccount"> power_settings_new</span>
        <h1 class="fs-primary fw-extra-bold text-clr-primary-accent" id="current_time" style="font-weight:bold;font-size:clamp(1.8rem,3.2rem,4.7rem);color:#D5E8D6;"></h1>
        <h1 class="fs-secondary fw-extra-bold" id="currentDate" style="font-weight:bold;color:white;"></h1>
      

        <script>
            function displayCurrentTime() {
              $.ajax({
                url: '{% url "display_current_time" %}',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var datetimeString = data.internet_time;
                    var currentTime = new Date(datetimeString);
                    var formattedTime = currentTime.toLocaleTimeString();
                    var currentDate = currentTime.toDateString();
                    $('#currentDate').text(currentDate)
                    $('#current_time').text(formattedTime);
                },
                error: function (error) {
                  console.error('Error fetching current time:', error);
                }
              });
            }
            displayCurrentTime();
            setInterval(displayCurrentTime, 1100);

            </script>

    </div>
</div>






  <div class="container-fluid" style="width:100%;padding:0 0;">

    <div class="container-fluid mt-1" style="position: relative;right:6.6rem;">
        <form id="droneForm" class="RadioButton">
            <fieldset style="display:flex;margin-left:9.8rem;margin-top:1rem;padding:0 1rem;width:70%;border-radius:.5rem;font-size:1.2rem;">
               
                <div style="padding:.5rem 1.2rem;border-radius:.5rem;color:white;background-color:#5EA061;font-weight:bold;width:25%;"> <!-- Adjusted width to 25% -->
                    <input type="radio" id="six" name="drone" value="09pm_06am"/>
                    <label for="louie">9:00 PM - 06:00 AM</label>
                </div>
            
                <div style="margin-left:2rem;padding:.5rem 1.2rem .1rem;border-radius:.5rem;color:white;background-color:#5EA061;font-weight:bold;width:25%;"> <!-- Adjusted width to 25% -->
                    <input type="radio" id="seven" name="drone" value="12pm_09pm"  />
                    <label for="huey">12:00 PM - 9:00 PM</label>
                </div>
                
                <div style="margin-left:2rem;padding:.5rem 1.2rem;border-radius:.5rem;color:white;background-color:#5EA061;font-weight:bold;width:25%;"> <!-- Adjusted width to 25% -->
                    <input type="radio" id="seven" name="drone" value="06am_03pm"  />
                    <label for="huey">6:00 AM - 3:00 PM</label>
                </div>
    
                <div style="margin-left:2rem;padding:.5rem 1.2rem;border-radius:.5rem;color:white;background-color:#5EA061;font-weight:bold;width:25%;"> <!-- Adjusted width to 25% -->
                    <input type="radio" id="seven" name="drone" value="730am_430pm"  />
                    <label for="huey">7:30 AM - 4:30 PM</label>
                </div>
    
                <button id="refreshButton" style="margin-left:2.5rem; border:none;color:white;border-radius:2rem;padding:.9rem 1rem;background-color:#5EA061;" class="material-symbols-outlined"> autorenew</button>
            
            </fieldset>  
        </form>
    </div>
    
    

    <div class="row">

     <div class="col-md-6" >
        <div id="webcam-container" style="margin-left:5rem;margin-top:3rem;">
            <div style="width:36rem;outline:2px solid #D5E8D6;" id="reader"></div>
            
        </div>
    </div>


        <div class="col-md-6 mt-5 " >
            <div class="col-md-12">
                <div class="table-container card" style="border:3px solid #D5E8D6;margin-right: 2rem;">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h6 id="branchNames" style="text-align:center;margin-bottom:1rem;margin-left:.2rem;font-weight:bold;font-size:1.2rem;color:#5EA061;">
                                {{ branch_names }}
                            </h6>
                            <table id="defaultdatatable" class="table table-bordered table-hover table-striped tables">
                                <thead>
                                    <tr>
                                        <th style="background-color:#D5E8D6">NAME</th>
                                        <th style="background-color:#D5E8D6">TIMEIN</th>
                                        <th style="background-color:#D5E8D6">TIMEOUT</th>
                                        <th style="background-color:#D5E8D6">DATE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Your table content goes here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>






{% comment %} logout modal {% endcomment %}

<div class="modal fade" id="logoutaccount" tabindex="-1" aria-labelledby="logoutaccount" aria-hidden="true">
    <div class="modal-dialog">
     
      <form action="{% url 'logout' %}" method="post">
     
   
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="logoutaccount"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <h5>Are you sure you want to logout?</h5>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">logout</button>
        </div>
      </form>
      </div>

    </div>

  </div>


  <script>

    document.addEventListener('DOMContentLoaded', (event) => {
        const radioButtons = document.querySelectorAll('input[name="drone"]');
        const refreshButton = document.getElementById('refreshButton');

        let timer;
        let stream;
        let html5QrcodeScanner;
        // Event listener for radio button changes
        radioButtons.forEach(radio => {
            radio.addEventListener('change', function(event) {
                const selectedRadio = event.target;
                if (selectedRadio.checked) {
                    stopWebcam(); // Stop the previous webcam instance if any
                    if (selectedRadio.value === '09pm_06am' || selectedRadio.value === '12pm_09pm' || selectedRadio.value === '06am_03pm' || selectedRadio.value === '730am_430pm') {
                        startWebcam(selectedRadio.value); // Start the webcam with selected value
                    
                    }
                    resetTimer(); // Reset the timer
                }
            });
        });

        // Event listener for refresh button
        refreshButton.addEventListener('click', function(event) {
            const checkedRadio = document.querySelector('input[name="drone"]:checked');
            if (checkedRadio && (checkedRadio.value === '09pm_06am' || checkedRadio.value === '12pm_09pm' || checkedRadio.value === '06am_03pm' || checkedRadio.value === '730am_430pm')) {
                startWebcam(checkedRadio.value); // Start the webcam with checked radio value
                resetTimer(); // Reset the timer
            }
        });

        function startWebcam(selectedValue) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then((mediaStream) => {
                    stream = mediaStream;
                    html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250, formats: ['QR_CODE'] });
                    html5QrcodeScanner.render(onScanSuccess);

                    function onScanSuccess(decodedText, decodedResult) {
                        console.log(`Scan result: ${decodedText}`, decodedResult);
                        saveDecodedText(decodedText, selectedValue);
                    }

                    function saveDecodedText(decodedText, selectedValue) {
                        let url;
                        if (selectedValue === '09pm_06am') {
                            url = '{% url "webcam_qr_code_scanner_sgi_09pm_06am" %}';
                        } else if (selectedValue === '12pm_09pm') {
                            url = '{% url "webcam_qr_code_scanner_sgi_12pm_09pm" %}';
                        } else if (selectedValue === '06am_03pm') {
                            url = '{% url "webcam_qr_code_scanner_sgi_06am_03pm" %}';
                        } else if (selectedValue === '730am_430pm') {
                            url = '{% url "webcam_qr_code_scanner_sgi_730am_430pm" %}';
                        }

                        const xhr = new XMLHttpRequest();
                        xhr.open("POST", url, true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                const response = JSON.parse(xhr.responseText);
                                if (response.success) {
                                    console.log("Decoded text saved successfully:", decodedText);
                                } else {
                                    console.error("Failed to save decoded text:", decodedText);
                                }
                            }
                        };
                        xhr.send("decoded_text=" + encodeURIComponent(decodedText));
                    }
                })
                .catch((error) => {
                    console.error('Error starting webcam:', error);
                });
        }

        function stopWebcam() {
            if (html5QrcodeScanner) {
                html5QrcodeScanner.clear(); // Clear the scanner
            }
            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
                stream = null;
            }
        }

        function resetTimer() {
            clearTimeout(timer);
            timer = setTimeout(() => {
                stopWebcam();
            }, 60000); // 5-second timer
        }

        // Check if any radio button is initially checked and start webcam accordingly
        const checkedRadio = document.querySelector('input[name="drone"]:checked');
        if (checkedRadio && (checkedRadio.value === '09pm_06am' || checkedRadio.value === '12pm_09pm' || checkedRadio.value === '06am_03pm' || checkedRadio.value === '730am_430pm')) {
            startWebcam(checkedRadio.value);
            resetTimer(); // Start the timer when the page loads
        }
    });
</script>


       


<script>
    var lastBreakinSixToastTime = {}; 
    function fetchAndDisplayMessages_sgi() {
        $.ajax({
            url: '{% url "fetch_messages_sgi" %}',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                data.messages.forEach(function(message) {
                 

                     if (message.tags.includes('timeout_09pm_06am')) {
                        var currentTime = new Date().getTime();
                        var lastToastTime = lastBreakinSixToastTime[message.text] || 0;
                        if (currentTime - lastToastTime >= 7000) { 
                            toastr.success(message.text, {toastClass:'toast-success toastSize'});
                            lastBreakinSixToastTime[message.text] = currentTime; 
                        }
                    }
                    else if (message.tags.includes('timeout_12pm_09pm_already')) {
                        var currentTime = new Date().getTime();
                        var lastToastTime = lastBreakinSixToastTime[message.text] || 0;
                        if (currentTime - lastToastTime >= 7000) { 
                            toastr.error(message.text, {toastClass:'toast-error toastSize'});
                            lastBreakinSixToastTime[message.text] = currentTime; 
                        }
                    }

                    else if (message.tags.includes('timeout_06am_03pm_already')) {
                        var currentTime = new Date().getTime();
                        var lastToastTime = lastBreakinSixToastTime[message.text] || 0;
                        if (currentTime - lastToastTime >= 7000) { 
                            toastr.error(message.text, {toastClass:'toast-error toastSize'});
                            lastBreakinSixToastTime[message.text] = currentTime; 
                        }
                    }

                    else if (message.tags.includes('timeout_730am_430pm_already')) {
                        var currentTime = new Date().getTime();
                        var lastToastTime = lastBreakinSixToastTime[message.text] || 0;
                        if (currentTime - lastToastTime >= 7000) { 
                            toastr.error(message.text, {toastClass:'toast-error toastSize'});
                            lastBreakinSixToastTime[message.text] = currentTime; 
                        }
                    }

                   
   
                
                    else {
                        toastr.success(message.text, {toastClass: 'toast-success toastSize'});
                    }


                });
            },
            error: function(error) {
                console.error('Error fetching messages:', error);
            },
            complete: function() {
                setTimeout(fetchAndDisplayMessages_sgi, 1100);
            }
        });
    }
    fetchAndDisplayMessages_sgi();
</script>


<script>

function convertTo12HourFormat(time) {

    var timeParts = time.split(':');
    var hours = parseInt(timeParts[0], 10);
    var minutes = parseInt(timeParts[1], 10);

    // Determine AM or PM
    var meridian = hours >= 12 ? 'PM' : 'AM';

    // Convert hours to 12-hour format
    hours = hours % 12;
    hours = hours ? hours : 12; // Handle midnight (0 hours)

    // Format minutes with leading zero if necessary
    minutes = minutes < 10 ? '0' + minutes : minutes;


    // Return the formatted time string
    return hours + ':' + minutes + ' ' + meridian;
}

function formatDate(dateString) {
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var dateObj = new Date(dateString);
    var month = months[dateObj.getMonth()];
    var day = dateObj.getDate();
    var year = dateObj.getFullYear();
    return month + ' ' + day + ' ' + year;
}

//******************************************************
   function QRList_sgi() {
    $.ajax({
        url: '{% url "display_qr_list_sgi" %}',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var tableBody = $('#defaultdatatable tbody');
            tableBody.empty(); 

            data.attendances.sort(function(a, b) {
                return new Date(b.date) - new Date(a.date);
            });

            data.attendances.forEach(function (attendance) {
                var row = $('<tr>');
                row.append('<td>' + attendance.name + '</td>');
                row.append('<td>' + convertTo12HourFormat(attendance.timein) + '</td>');
                row.append('<td>' + (attendance.timeout === null || attendance.timeout === 'None' ? '' : convertTo12HourFormat(attendance.timeout)) + '</td>');
                row.append('<td>' + formatDate(attendance.date) + '</td>');
                tableBody.append(row);
            });
        },
        error: function (error) {
            console.error('Error fetching attendance data:', error);
        }
    });
}
QRList_sgi();
setInterval(QRList_sgi, 1100);

</script>



<script>

    function refreshPage() {
        location.reload();
    }
    document.getElementById("refreshButton").addEventListener("click", refreshPage);
    
</script>


{% endblock %}





